@model IEnumerable<MVC_Dapper.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="AddorEdit">Create New</a>
</p>
<table class="table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Posititon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Posititon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddorEdit", new { id = item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.EmployeeID  })
            </td>
        </tr>
}
    </tbody>
</table>
